<div class="gallery">
  <ul class="image-grid">
    {% for image in gallery %}
    <li class="image-container">
        <img href="/images/{{ image.src | slug }}" aria-label="Gallery image {{ image.title }}">           
    </li>
    {% endfor %}
  </ul>
</div>
