<div class="gallery">
  <ul class="image-grid">
    {% for image in gallery %}
    <li class="image-container">
        <a href="/images/{{ image.src | slug }}" aria-label="Gallery image {{ image.title }}">
            {{ image.src }}
        </a>
    </li>
    {% endfor %}
  </ul>
</div>
