<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} St John Baptist De La Salle Catholic School, Addis Ababa.
            <ul class="footer-links">

                <li class="footer-link"><a href="https://instagram.com/sjbdcs">Instagram</a></li>                
                <li class="footer-link"><a href="{{ site.socials.twitter }}">Twitter</a></li>
                <li class="footer-link"><a href="{{ site.socials.linkedin }}">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>
