---
title: About 
meta_desc: A page about St John Baptist De La Salle Catholic School Addis Ababa, and photography. This template is currently the default version so add your own about me page info here.
url: https://photos.sjbdcs.org
img: /images/highway-water-large.jpg
alt: alt text
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-st-john">
  <h1>{{ heading }}</h1>
  <p>Read about us at the <a href="https://sjbdcs.org/about">following page </a>. </p>

</div>
