---
eleventyNavigation:
  key: Home
  order: 0
heading: St John Baptist De La Salle Catholic School Photo Gallery
description: A collection of recent images from events at our school. Enjoy!
layout: main.njk
title: St John Baptist De La Salle Catholic School Photo Gallery
meta_desc: St John Baptist De La Salle Catholic School Addis Ababa Photo Gallery!
url: https://photos.sjbdcs.org
img: /images/highway-water.jpg
alt: background image
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "home-gallery.njk" %}
